.aside {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover {
    color: hsl(43, 100%, 68%);
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    writing-mode: vertical-rl; /* Handles vertical alignment */
    text-align: center; /* Ensures proper alignment */
    margin: auto 0; /* Centers it in the sidebar */
}

.nav__toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .3s;
}

.tooltip {
    position: relative; /* Needed for positioning the tooltip text */
    display: inline-block; /* Ensures the tooltip works around the text or element */
    cursor: pointer; /* Optional: Change the cursor on hover */
}

.tooltip-text {
    visibility: hidden; /* Hide by default */
    opacity: 0; /* Transparent for fade-in effect */
    background-color: var(--first-color); /* Tooltip background color */
    color: white; /* Tooltip text color */
    text-align: center;
    padding: 5px 30px;
    border-radius: var(--border-radius);
    font-weight: var(--font-bold);

    /* Positioning */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 125%; /* Position to the right of the element */
    transform: translateY(-50%); /* Adjust for vertical centering */
    z-index: 1;

    /* Fade-in effect */
    transition: opacity 0.3s;
}

.tooltip-text::before {
    content: ""; /* Needed for the triangle */
    position: absolute;
    top: 50%; /* Align with the vertical center of the tooltip */
    right: 99%; /* Place it on the left edge of the tooltip */
    transform: translateY(-50%); /* Center the triangle vertically */
    border-width: 6px; /* Adjust the size of the triangle */
    border-style: solid;
    border-color: transparent var(--first-color) transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Fade in */
    transition: opacity 0.5s;
}

@media screen and (max-width: 1024px) {
    .aside {
      left: -110px;
    }

    .nav__toggle {
        display: flex;
    }

    .nav__toggle-open {
        left: 140px;
    }

    .show-menu {
        left: 0;
    }
}